<app-menu></app-menu>
<div class="container">
    <div class="row">
        <!-- <h1>IDGS901</h1>
        <p>Hola soi pepito</p>
        <div>
            {{title}}
        </div>
        <hr>

        <div> <b>Nombre: {{alumno.nombre|uppercase}} </b> </div>
        <div> <b>Edad: {{alumno.edad}} </b> </div>
        <div> <b>Matricula: {{alumno.matricula}} </b> </div>
        <div> <b>Fecha: {{alumno.fechanac|date}} </b> </div>
        <div> <b>Pago {{alumno.pego|currency}} </b> </div>
        <hr>

        <div>
            El doble de 3 es: {{calcular3(3)}}
        </div>

        <hr>
        <br>

        <app-utl></app-utl>

        <hr>
        <br>

        <app-ievn></app-ievn>

        <hr> <br> -->
        <!-- <app-iric></app-iric> -->
        <!-- <app-suma></app-suma> -->
        <!-- <br> <hr> <br> -->
        <!-- <app-operasbas></app-operasbas> -->
        <app-alumnos-reactive></app-alumnos-reactive>
    </div>
</div>
