<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label">Numero 1:</label>
            <input type="text" name="num1"  placeholder="Numero 1">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Numero 1:</label>
            <input type="text" name="num2"  placeholder="Numero 2">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" (click)="sumar()">Calcular</button>
        </div>
    </div>

    <h2>{{num1}} + {{num2}} = {{resultado}}</h2>
    <div class="col-6"></div>
</div>